body {
    font: 120pt 'Arial, Sans-serif';
    background-color: #e5e5e5;
    color: #1e1e1e;
    margin:0px;
}

#gameBoard {
    display:block;
    width:600px;
    height:600px;
    float:left;
    background-color: #1e1e1e;
}

#gameBoard div.border {
    border: #e5e5e5 solid 1px;
    float: left;
    width:198px;
    height: 198px;
}

#gameBoard div div {
    background-color:#1e1e1e;
    color: #e5e5e5;
    width:198px;
    height: 198px;
    float:left;
    text-align: center;
    opacity:0.01;
}

#heading {
    width: 600px;
    color: #e5e5e5;
    font-size: 56pt;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    height: 100px;
    background-color: #1e1e1e;
}

#buttons div:active {
    background-color: #1e1e1e;
    color: goldenrod;
}

#buttons, #messageBox {
    background-color:goldenrod;
}

#messageBox span{
    opacity:0.0;
    background-color:goldenrod;
}

#gameBoard div.becomingVisisble, #messageBox span.becomingVisible {
    transition: 1.5s;
    opacity: 1.0;
}

#gameBoard div span {
    line-height: 200px;
    text-align: center;
    pointer-events: none;
}

#playerDisplay div {
    background-color: #1e1e1e;
    color: #e5e5e5;
    border-bottom: #e5e5e5 solid 1px;
    border-top: #e5e5e5 solid 1px;
}

#playerDisplay .notSelectable, #buttons .notSelectable, #messageBox .notSelectable {
    width:300px;
    height:30px;
    font: 20pt 'Arial, Sans-serif';
    float: left;
    text-align:center;
}

#messageBox .notSelectable {
    width:600px !important;
}

#buttons, #playerDisplay, #messageBox {
    float:left;
    width:600px;
    height:30px;
}

.win {
    background-color: goldenrod !important;
}

.turn {
    background-color: #fff !important;
    color: #1e1e1e !important;
}

.tie {
    background-color: darkred !important;
}

.notSelectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}